.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  height: 100%;
}

.header {
  position: relative;
  width: 100%;
  height: 50%;
}

.header .header-image {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.header .header-image img {
  width: 100%;
}

.content {
  position: relative;
  margin-top: -15px;
  padding-top: 2.109em;
  width: 100%;
  height: 50%;
  background: #fff;
}

.content .share-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 1em;
  opacity: .5;
  cursor: pointer;
}

.content .share-btn img {
  width: 100%;
}
              
.content .btn-container {
  display: flex;
  justify-content: center;
}

.content .btn-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
  margin: 1em 0.7em;
  padding: 12px 12px 12px;
  width: calc(50% - 4.4em);

  letter-spacing: 3px;
  color: #000;
  background: #ce1327;
  font-size: .3em;
  text-align: center;
  text-decoration: none;

  border-radius: .3em;
  border: .3em solid #ce1327;
  overflow: hidden;
  box-sizing: border-box;

  cursor: pointer;

  -webkit-transition: background-color .3s ease, color .3s ease;
  -moz-transition: background-color .3s ease, color .3s ease;
  -ms-transition: background-color .3s ease, color .3s ease;
  -o-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;
}

.user-picture {
  position: absolute;
  top: -2.109em;
  left: calc(50% - 2.109em);

  width: 4.218em;
}

.user-picture img {
  width: 100%;
}

.profile_description {
  transform: scaleY(2.63);
  font-size: .25em;
  letter-spacing: .44em;
  font-weight: 500;
  color: #000;
}

.profile_name {
  font-weight: 900;
  color: #ce1327;
  font-size: .75em;
}
.profile_name > span {
  text-transform: uppercase;
}

.eller-label {
  margin: 0 0 .2em;
  display: block;
  font-size: .5em;
  font-size: 'Lato';
  color: #000000;
}