
/* Modal */

#wrap {
  transition-property: transform;
  transition-duration: .5s;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  
  overflow: hidden;
  z-index: 9999;

  transform: translateY(-100%);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: .5s;
}

.modal.opened {
  transform: translateY(0);
  opacity: 1;
}

.modal header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 60px;

  background: #fff;
  box-sizing: border-box;
}

.modal .modal__modal-content {
  position: relative;
  height: calc(100% - 60px);
}

.modal .modal__modal-content.scrollable {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.modal .modal__modal-content.scrollable > .fb-page-wrap {
  position: relative;
  margin: 15px auto;
  max-width: 500px;
}

.modal .modal__modal-content.scrollable .fb-page-wrap > iframe,
.modal .modal__modal-content.scrollable > iframe {
  width: 100%;
  height: 100%;
}

.modal header .close-btn {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 30px;
  height: 30px;
  padding: 15px;

  background-image: url(../images/close.svg);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;

  transition: opacity .1s ease-in-out;
  opacity: .6;
  cursor: pointer;
}

.modal header .close-btn:hover {
  opacity: 1;
}

.modal .modal__modal-content.madal-text-container {
  font-size: 1.25em;
  background-color: #f9f9f9;
}

.move-out {
  height: 100vh;
  max-height: 100vh;
  transform: scale(0.6);
  overflow: hidden;
}
